.login-container {
    display: flex;
    flex-direction: column;
    background:#f0fff0;
    width:500px;
    border-radius:6px;
    margin: auto;
    padding:0px 0 70px 0;
    border: #2980b9 4px solid;

    p {
        background: #2980b9;
        font-size:24px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color:#ffffff;
    }

    .login-input {
        margin: 20px;

    .input-field {
        background:#ecf0f1;
        border: #ccc 1px solid;
        border-bottom: #ccc 2px solid;
        padding: 12px;
        width:100%;
        color:#AAAAAA;
        margin-top:10px;
        font-size:1em;
        border-radius:4px;
        }
        
        .error_input {
            color: #ff0000;
            margin-left: 5px;
        }
    }

    .action {
        margin: 20px 25px 10px;
        display: flex;
        justify-content: space-between;
    }

    .link {
        color: #2980b9;
        cursor: pointer;
    }

    .error-message {
        margin-left: 20px;
        margin-right: 20px;
    }

      
}